p{
  font-size: 20px;
  font-weight: bold;
  color: black;
}
h3{
  color: blue;
}
body{
padding: 0;
margin: 0;
background-color: rgb(240, 240, 240);
}
section{
  border-color: black;

}
header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: rgb(28, 255, 0);
    margin: auto;
    padding: 0;
    height: 33px;
    z-index: 1;
    width: 100%;
    position: fixed;
    top: 0;
}
div{
  margin: 0;
  padding: 0;
  height: 33px;

}

#load{
  margin-top: 33px;
}

.Buttt{
  display: block;
  margin: auto;
  margin-top: 2px;
}
header button:hover{
  background-color: grey;
  border-color: rgb(0, 255, 0);
}
.logo{
  float: left;
}
#logoo{
height: 33px;
margin: 0;
padding: 0;
}

.PokeImg{
  filter: saturate(3);
}

.PokeImg:hover{
  transform: scale(1.08, 1.08);
}
.PokeImg{
  transition: all .1s;
  width: 250px;
  height: 250px;
}
button{
  font-family: fantasy;
  font-size: 120%;
  border-radius: 6px;
  border-color: black;
  float: right;
  margin: auto;
  margin-right: 5px;
  width: 160px;
}
#secAllePokemon{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 100px 100px 100px 100px;

}
.pokemon:hover{
  background-color: lightgrey;
}
#secAllePokemon>section{
margin-bottom: 10px;

}

.pokemon{
  text-align: center;
  border-style: solid;
  border-width: 1px;
  margin: 10px 10px 10px 10px;
}
::-webkit-scrollbar{
  background-color: rgb(28, 255, 0);
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background-color: blue;
}
#foot{
  visibility: 0;
}
