main>li{ margin-left: 10%;
margin-right: 10%;
text-align: left;
width: auto;
font-size: 25px;
}
main>p{ margin-left: 10%;
  margin-right: 10%;
  text-align: left;
width: auto;
font-size: 25px;


}
img{ width: 80%;
  margin-left: 10%;
  margin-right: 10%;

}
main{ background-color: #d1fff2;


}
