header{font-size: 40px;
  margin-left: auto;
  margin-right: auto;
color: yellow;
width: 75%;
text-align: center;
border-color: #ff6600;
border-style: double;
border-width: 5px;
border-top: auto;
border-radius: 40px;
border-spacing: 50px;

}
body{background-image: url(http://lbc9.net/digital-art/3d/flames/flames-3d.jpg);
background-size: cover;

}
video{width: 40%;
  margin-left: 100px;
  margin-bottom: 50px;
  margin-top: 700px;
  border-style: solid;
  border-color: red;
  border-top-style: hidden;
  border-bottom-style: hidden;



}
