body{
  background-color: #000000;

  margin: 0;
}
body::selection{

}
h1{
color: #000000;
background-color: lightgrey;
text-align: center;
font-size: 300%;
margin-bottom: 5px;
border-radius: 10px;
border-style: inset;
width: 34%;
margin-left: 35%;
grid-column: 3fr;
margin-top: 2%;

}
h1::selection, h2::selection{
color: limegreen;
background-color: blue;

}


li{
  display: list-item;
}
header{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 1%;
  grid-row-gap: 3%;
  background-color: rgb(193,193,193);
  height: 100px;
}
#Knappheader{
  margin-left: 5px;
  margin-top: 5px;
  width:10%;
  color: green;
  background-color: blue;
  border-style: none;
}





ul{
  text-decoration: none;
  list-style-type: none;
  list-style: none;
  text-decoration: none;

}
li{
  text-decoration: none;
}
main>a{
  text-decoration: none;

}
div{
  background-color: ;
  height: 213.81px;
}

.hometitle{
margin-right: 0%;
}
header>div>img{
  height: 100px;
  margin-right: 2%;
  margin-left: 100%;




}
main{
  background-color: black;
}

.homepicture{

width: 40%;
}
.navbar {
    overflow: hidden;
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 10px;
    padding-left: 74%;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;

}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #000000;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;

}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: lightgrey;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: 0;
    min-width: 159px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: lightgrey;
}

.dropdown:hover .dropdown-content {
    display: block;
}
footer{
  background-color: black;
  padding-top: 10px;
  margin-top: 400px;
  border-top-color: rgb(0, 255, 0);
  border-style: inset;
  border-left-style: hidden;
  border-bottom-style: hidden;
  border-right-style: hidden;
}
footer>p{
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
  border-radius: 0px;
  border-color: rgb(0, 0, 255);
  border-style: solid;
  padding: 0px;
  width: 29.9%;
  background-color: lightgrey;
  margin-bottom: 5px;
}
