body{


  background-color: rgb(19, 19, 19);

  margin: 0;
}



h1::selection{
color: limegreen;
background-color: blue;
}
.G502{
  border-style: solid;
  border-color: blue;
  padding: 0px;
  margin: 0px;
  grid
}

li{
  display: list-item;
}
header{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 1%;
  grid-row-gap: 3%;
  background-color: rgb(193,193,193);
  height: 77px;
  position: fixed;
  width: 100%;
  top: 0;
}









}
div{
background-color: white;
  border-style: double;
  border-color: blue;
  border-radius: 5px;


}


h1{
  margin-top: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #000000;
  background-color: lightgrey;
  text-align: center;
  align-items: center;
  font-size: 44px;
  border-radius: 10px;
  border-style: inset;
  width: 120%;
  padding-bottom: 100px;
  padding-top: 0px;
  height: 0px;
  margin: auto;
  margin-top: 100px;
  align-content: center;
}







main{
  background-color: rgb(19, 19, 19);
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr;
grid-gap: 5px;
grid-area: 900px;




}

.homepicture>img{
  float: right;
height: 77px;
}
header>div{
  height: 77px;
  margin-right: 5px;


}
.navbar {
    overflow: hidden;
    background-color: none;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 0px;
    padding-left: 0%;
    padding: 0px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;

}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #000000;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;

}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: lightgrey;
    transition: 0.5s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 159px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;


}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: lightgrey;
}

.dropdown:hover .dropdown-content {
    display: block;
}
footer{
  background-color: black;
  padding-top: 10px;
  margin-top: 400px;
  border-top-color: rgb(0, 255, 0);
  border-style: inset;
  border-left-style: hidden;
  border-bottom-style: hidden;
  border-right-style: hidden;
  position: relative;
  bottom: 0;
  width: 100%;
}
footer>p{
  text-align: center;
  margin: auto;
  padding-bottom: 200px;
  border-radius: 0px;
  border-color: rgb(0, 0, 255);
  border-style: solid;
  padding: 0px;
  width: 41.9%;
  background-color: lightgrey;
  margin-bottom: 5px;

}
