body{
  background-color: lightgrey;

}
h1{

  border-radius: 5px;
  border-style: inset;
  border-color: grey;
  font-style: normal;
  font-size: 500%;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;

}
h2{
  border-radius: 5px;
  border-style: inset;
  border-color: grey;
  font-style: normal;
  font-size: 300%;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  margin-top: 5px;

}
a>img{
  width: 350px;
  margin-left: 70%;
  margin-top:0px;
  padding-top: 0px;
  margin-right: 10%;
}
div{

}
