body{
  background-color: lightblue;

margin-left: 200px;
margin-right: 200px;


}


h1{ font-style: bold;
text-align: center;
}
img{
  width: 400px;

}
h2{ margin-top: 30px;

}
video{
  margin-top: 40px;
}
p{
  margin-top: 10px;
}
img:hover{ transform: scale(1.04);
transition: 0.2s;
}
img{
  transition: .2s ease-in-out;
}
li{
  border-radius: 20px;
  list-style-type: none;
  text-decoration: none;
  border-style: solid;
  text-align: center;
  width: 130px;
  border-width: thin;
  border-color: blue;
  display: inline;
  margin-left: 4px;
  margin-right: 4px;
  padding: 5px;
  border-spacing: inherit;


}

li>a>p{

}

a{
  text-decoration: none;
  color: black;
  font-weight: 1000;
}
