*::selection{
  background-color: cyan;
}

body{
  background-image: url(bilder/Elusivebackground.png);
  margin: 0;
  font-family: "Lato", sans-serif;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*.Underside{
  background-image: linear-gradient(to top, black, rgb(0, 255, 0));
}*/

button{
  outline: 0;
}

header{
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.4s;
  padding-top: 2.7vw;
  text-align: center;
}

#Sidebarbutton{
  color: white;
}

.Sidebarlink{
  padding: 0 2vw 3vw 2vw;
  text-decoration: none;
  font-size: 2vw;
  color: #818181;
  display: block;
  transition: .3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 2vw;
  font-size: 2vw;
  margin-left: 3.2vw;
}

.openbtn{
  font-size: 2vw;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 0;
  margin: 0;
  padding: 0.5vw 0.7vw;
  border: none;
  border-bottom-right-radius: 1vw;
}

.openbtn:hover {
  background-color: rgb(30, 30, 30);
}

#Sidebarlogo{
  width: 17vw;
  display: block;
  margin: auto;
  margin-top: 3vw;
}

#askelusive{
  margin: 0;
  padding: 0;
  margin-top: 1vw;
}

#main {
  transition: .5s;
  display: inline;
}

.Footlink{
  text-decoration: none;
  width: inherit;
  font-weight: 1000;
  margin-top: 0.1vw;
  color: rgb(255, 255, 255);
}

.Footdiv{
  padding: 0;
  margin: 0;
  text-align: center;
  margin: auto;
  display: inline;
}

#Footertxt{
  font-family: sans-serif;
  color: rgb(255, 255, 255);
}

*::selection{
  background-color: cyan;
}

#venstre{
  float: left;
}

#høyre{
  float: right;
}

#Commentsmain{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.Comments{
  margin-top: 5vw;
  grid-column: span 6;
  background-color: white;
  border-top-left-radius: 3vw;
  border-top-right-radius: 3vw;
}

.comments{
  width: inherit;
  height: 4.4vw;
  border-bottom-style: dotted;
  border-color: #878787;
  padding: 1vw;
}

#comName{
  left: 0;
  float: left;
  margin: 0;
  margin-bottom: 1.2vw;
  display: inline;
  margin-left: 3vw;
  font-size: 1vw;
}

#comtxt{
  font-size: 1.1vw;
  float: right;
  display: inline;
  margin: 0;
  margin-right: 3vw;
  font-size: 1vw;
  width: 44vw;
  text-align: left;
  text-overflow: ellipsis;
}

#name{
  display: inline;

}

#logo{
  width: 10vw;
  display: inline;
  float: right;
  padding: 4px;
}

.commentknapp{
  font-size: 0.8vw;
  height: 2vw;
  width: 7vw;
  border-radius: 1vw;
  border-color: #e9e9e9;
  margin: 3vw;
  margin-bottom: 0.1vw;
  margin-top: 1vw;
}

#commentKnapp1{
  margin-top: 5vw;
}

#commentheader{
  text-align: center;
  margin: auto;
  display: inline;
  top: 0;
  grid-column: span 8;
  margin-top: 3.3vw;
  font-size: 3vw;
  color: rgb(0, 255, 0);
}

#Load{
  color: white;
  font-weight: 1000;
}

footer{
  position: relative;
  margin-top: 50vw;
  width: 100%;
  bottom: 0;
  background-color: #202020;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

@media(max-width: 1920px){

}
@media(max-width: 480px){

}
